
.circle {
    transition: all 3s ease-in-out;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    
    overflow:hidden
  }
  
  .container {
    width: 80%; 
    /* max-width: 50rem; */
  }
  
  #text{
    color: #dedede;
  }
  
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    width: 11.11%; /* 100% / 9 columns */
    height: 100px; /* Set the desired height */
  
    box-sizing: border-box;
    position:relative;
  }
  
  .flame{
    width:100%;
    height:100%;
    overflow: visible;
    
    position: absolute;
    transform: translateY(-50%, -50%);
    animation: floatAnimation 3s ease-in-out infinite 1s;


  }
  
  .f4{
    animation: floatAnimationAlt 3s ease-in-out infinite 1s;
  }
  
  @keyframes floatAnimation {
    0%,100% {
      transform: translateY(3%);
    }
    50% {
      transform: translateY(-3%);
    }
  }
  
  @keyframes floatAnimationAlt {
    0%,100% {
      transform: translateY(-53%);
    }
    50% {
      transform: translateY(-47%);
    }
  }
  
  .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px; 
    height: 400px; 
    opacity: 0.0;
  }
  
  
  .active {
  
    width: 1000px; 
    height: 1000px; 
    opacity: 1.0;
    /* background: radial-gradient(circle, rgba(255,255,255,1.0) 0%, rgba(255,255,255,1.0) 0.5%, rgba(255,255,255,0.10) 1.5%, rgba(255,255,255,0) 66%); */
    
  
    background: radial-gradient(
      circle, 
    rgb(255, 174, 130) 0%, 
    rgba(255,174,130,1) 1%, 
    rgba(255,174,130,0.2) 2%, 
    rgba(255,174,130,0.1) 10%, 
    rgba(255,174,130,0) 50%
    );

  }